---
import CardDesigner from "../components/CardDesigner.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Interior consultant.">
  <main class="w-full max-w-[1400px] flex flex-col items-center sm:mt-20 lg:flex-row lg:items-center lg:mt-0 lg:justify-center">
    <section class="w-11/12 text-white mt-20 md:mt-0 md:h-1/3 md:pl-10">
      <h1 class="animate-fade-right text-4xl font-medium pl-3 md:text-5xl">Modern interior</h1>
      <p id="p-principal" class="animate-fade-right animate-delay-[400ms] mt-6 pl-3 text-sm font-normal w-64 md:text-2xl md:w-[400px] md:mt-10">
        A full-Service residential & commercial interior design and staging
        company offering professional organizing & eco-services.
      </p>

      <button class="animate-fade-right animate-delay-[600ms] pl-3 mt-6 text-sm font-bold flex justify-center items-center md:text-lg md:mt-12">
        Read more
        <span class="material-symbols-outlined ml-3"> trending_flat</span>
      </button>
    </section>

	<section class="w-11/12  mt-7 flex flex-col items-center md:mt-20 lg:w-[1400px] md:pr-10">
		<div class="w-full">
			<img class="animate-fade-up" src="/Images/photo1.png" alt="">
		</div>

		<CardDesigner/>
	</section>
  </main>
</Layout>

<style>
  h1 {
    font-family: "Lora", serif;
  }
  #p-principal {
    font-family: "Montserrat", sans-serif;
  }
  button {
    font-family: "Montserrat", sans-serif;
  }
</style>
