<article class="w-11/12 h-[130px] max-w-[410px] md:h-[190px] max-h-[410px] bg-[#181719] shadow-2xl -translate-y-10 translate-x-2 lg:-translate-y-20 lg:translate-x-24">
  <section class="flex pl-5 pt-3 gap-3">
    <img class="h-10 w-10 md:h-12 md:w-12 lg:h-14 lg:w-14 rounded-full mt-1" src="/Images/photo2.png" alt="" />

    <div class="pt-2">
      <h2 class="text-white text-xs font-medium md:text-sm">Aliza Webber</h2>
      <p id="designer" class="text-[10px] text-[#828282] font-medium md:text-xs md:mt-2">Interior designer</p>
    </div>
  </section>

  <section class="w-52 pl-4 my-5 md:w-64">
    <p id="description" class="font-bold text-lg text-white md:text-2xl">Designed in 2020 by Aliza Webber</p>
  </section>
</article>

<style>


#designer, h2{
    font-family: Montserrat;

}
#description{
    font-family: "Lora", serif;
}
</style>